Source: vfw-web
Maintainer: Veronica Moreno <vmoreno@blizzard.com>
Section: base
Priority: optional

Package: vfw-web
Version: 0.0.1
Section: web
#Build-Depends: nodejs (>= 7.6)
Homepage: https://github.com/Cashed/vfw-web
Vcs-Git: git://github.com/Cashed/vfw-web.git
Vcs-Browser: https://github.com/Cashed/vfw-web/tree/master
Architecture: all
#Depends: nodejs (>= 7.6)
Description: Veronica VFW website
 VFW website made in a join venture of Veronica and Stephen
